.DS_Store
*ENV/
*__pycache__*
venv/
.ruff_cache

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dev environments
.vscode
*.env

# keys
*/keys/*

# logs
*/logs/*
*.log
logs

# project files
ephemeral

# aws
utils/creds
utils/aws

# scratch
/scratch
/.ruff_cache
*.tif
*.tiff